<div class="post-wrapper">
  {{#each postings as |posting| }}
    <div class="post-title">
      {{posting.title}}
    </div>
    <div class="post-content">
      {{posting.content}}
    </div>
  {{/each}}
</div>