<div class="post-wrapper">
  
  <button class="new-post"><a href="/newpost">new post</a></button>
  {{#each postings as |posting| }}
    <div class="post-title">
      {{posting.title}}
      <button class="btn btn-delete" data-id="{{posting.id}}">delete</button>
    </div>
    <div class="post-content">
      {{posting.content}}
    </div>
  {{/each}}

  <script src="/js/delete-post.js"></script>
</div>