<div class="newpost-page">

  <h2>New post </h2>

  <textarea id="post-title" name="" rows="2" cols="50" placeholder="Some title..."></textarea>

  <textarea id="post-text" name="" rows="4" cols="50"
  placeholder="Some text..." ></textarea>

  <div class="post-btn-wrapper">
    <button id="post-submit" class="btn"><a href="/">submit</a></button>
    <button id="post-back" class="btn"><a href="/">back</a></button>
  </div>

  <script src="/js/new-post.js"></script>

</div>