<h2>Signup</h2>

<form>
    <label for="email-login">login:</label>
    <input class="form-input" type="text" id="login-signup" />

    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-signup" />

    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-signup" />
  
 
    <button id="signup-button" class="btn btn-primary" type="submit">submit</button>
    <button id="to-signup"><a href="/login">back</a></button>

</form>

<script src="/js/signup.js"></script>