<div class="signup-page">

  <form>
    <div class="form-group">
      <label for="login-signup">login:</label>
      <input class="form-input-login" type="text" id="login-signup" />
    </div>

    <div class="form-group">
      <label for="email-signup">email:</label>
      <input class="form-input-email" type="text" id="email-signup" />
    </div>

    <div class="form-group">
      <label for="password-signup">password:</label>
      <input class="form-input-pass" type="password" id="password-signup" />
    </div>

    <div class="form-group">
      <button id="signup-button" class="btn btn-primary" type="submit">signup</button>
    </div>
  </form>

  <script src="/js/signup-form.js"></script>
</div>