* {
  margin: 0;
  padding: 0;
}

/* login page */

header {
  display: flex;
  height: 50px;
  background-color: grey;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 25px;
  width: 45px;
}

main {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.form-group label {
  right: 100px;
}

main h2 {
  margin-top: 25px;
}

form {
  margin-top: 25px;
}

.btn-primary {
margin: 25px 0 0 120px;

}
.form-input-email{
  margin-top: 7px;
  position: relative;
  left: 24px;
}
.form-input-pass {
  margin-top: 7px;
}

/* home page */

nav .btn {
  margin-left: 25px;
}

.post-wrapper{ 
  margin-top: 25px;
  width: 450px;
}

.post-title {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(236, 236, 188);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

.post-content {
  margin-top: 10px;
  background-color: rgb(177, 233, 214);
  padding: 15px;
  border-radius: 25px;
}

/* signup page */

.form-input-login {
  position: relative;
  left: 27px;
}