* {
  margin: 0;
  padding: 0;
}
/* logout */

nav {
margin-top: 15px;
margin-left: 80%;
}

/* header */
.header{
  min-height: 30px;
  background-color:gray;
  text-align: center;
}

.header h1 {
  font-size: 22px;
}

/* login */
.login-wrapper {
 display: flex;
 justify-content: center;
}

.login-form {
  margin-top: 25px;
}

.form-input {
  margin-top: 5px;
}

#email-login{
  margin-top: 7px;
  position: relative;
  left: 24px;
}

.login-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.btn {
  min-height: 25px;
  width: 45px;
  margin-left: 10px;
}

#to-signup a {
  color: black;
  text-decoration: none;
}

.btn-primary {
 cursor: pointer;
}

/* signup */

.signup-wrapper {
  display: flex;
  justify-content: center;
 }

.signup-form {
  margin-top: 25px;
}

#email-signup {
  margin-top: 7px;
  position: relative;
  left: 24px;
}

#login-signup {
  margin-top: 7px;
  position: relative;
  left: 27px;
}

.signup-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* home page */

.post-wrapper {
  width: 600px;
  margin: 0 auto;
}

.post-title {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(236, 236, 188);
  padding: 10px;
  border-radius: 15px;
}

.post-content {
  margin-top: 10px;
  background-color: rgb(177, 233, 214);
  padding: 15px;
  border-radius: 25px;
}

.new-post {
  min-height: 25px;
  width: 65px;
}

.new-post a {
  color: black;
  text-decoration: none;
}

.btn-delete {
  position: relative;
  right: -475px;
}